# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Config files from IDEA
.idea
.idea/*.*
*.iml

# Compiled Java files
*.class
out
